/* Apply box-sizing border-box model to all elements */


.piz-bg {
background-image: linear-gradient(rgba(255,253,253,0.5), rgba(0,0,0,0.5)), url("pizzabg.jpg");

height: 300px;
width: 1600px;
margin: 70px;
font-family: Arial, Helvetica, sans-serif;

}

.piz-txt {
  text-align: center;
  position:absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


* {
    margin: 80;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e99191;
    margin: 0;
    padding: 0;
  }
  
  /* Styling for the navigation bar */
  nav {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  
  }
  
  /* Styling for links within the navigation */
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .content {
    text-align: center;
    padding: 20px;
  }
  
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Styling for individual product cards */
  .product > div {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 8px;
    background-color: #7eccec;
    width: 400px;
    height: 13cm;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: 200;
    
  }
  
  /* Styling for add to cart buttons */
  .product button {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Styling for product descriptions */
  .desc {
    font-size: 18px; 
    font-weight: bold; 
  }
  
  .price{
    font-size: 18px; 
    font-weight: bold;
  }
  .cart {
    background-color: white;
    border: 2px solid #ddd;
    padding: 2rem;
    margin-left: 8.5rem;
    width: 1460px;
    text-align: center;
    
  }
  
  /* Styling for the checkout button */
  .checkout-btn{
    background-color:black ;
    color: white;
    font-size: x-large;
    cursor: pointer;
    width: 200px;
    height: 40px;
  }
  